body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
    color: #221B1C;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

h2 {
    text-align: center;
}

textarea {
    display: block;
    margin: 20px auto;
    width: 80%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    resize: none;
}

textarea:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

div {
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    font-weight: bold;
}

#wordcount,
#sentenceCount {
    padding: 10px;
    background-color: #61C9A8;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

